.detail {
    margin: 20px;
}

.subImg {
    display: flex;
    flex-flow: wrap;

    li {
        width: 15%;
        margin-top: 10px;
        margin-right: 2%;

        img {
            display: block;
            max-width: 100%;
        }
    }
}